body {
  background-color: lightblue;
}

h1{
color:white;text-align:center;}

th{
border:3px double;}
	
td{
font-style:italic;}

img{
	width:100%
	height:90%
}

td{
<<<<<<< HEAD
	border-style:3px solid;
}
=======
border:3px solid;
}
>>>>>>> 3edc7aaa007d1eebd58fa79528c486dd1af6e0ac
